{% extends 'base.html' %}{% block title %}Quem somos{% endblock %}
{% block conteudo %}
    <main style="min-height: 75vh;">
        <section class="container-fluid mt-5">
            <div class="row justify-content-center">
                <div class="col col-sm-5">
                    <h1>Quem Somos?</h1>
                    <p class="justify-text">A semsunga é uma empresa brasileira especializada no desenvolvimento de smartphones, atuando a alguns dias no mercado, produzindo produtos custo-benefício, buscando atender todas as classes sociais.</p>
                </div>
                <div class="col col-sm-3">
                    <figure>
                        <img src="{{url_for('static', filename='img/somos.jpg')}}" alt="" class="img-thumbnail cub">
                    </figure>
                </div>
            </div>
        </section>
    </main>
{% endblock %}